@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
}
/*etiquetas base*/
body{
    color: black;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    padding: 1rem 0.5rem;
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
}

h1{
    text-transform: uppercase;
 
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
    color: white;

}

span{
    color: aqua;
}

.hero p{
    color: white;
    width: 60%;
    margin: 0 auto;
   
    text-align: center;
    letter-spacing: 0.2rem;
}

header{
    display: flex;
    justify-content:space-evenly;
    height: 2.5rem;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    
   
}





/*clases*/
.hero{
    background:linear-gradient(rgba(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)) , url("../img/main.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
   
   
}
.hero-btn{
    padding: 0.9rem 1.6rem;
    font-size: 1.25rem;
    background-color: white;
    color:cyan ;
    border:1px solid white;
    margin: 1.5rem 0;
    text-transform: uppercase;
}

.about{

}
.contenedor-img-texto{
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.contenedor-services{
    display: flex;
   width: 80%;
   margin: 0 auto;
}
.iconservices{
    font-size: 2rem;
    background-color: brown;
    padding: 0.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}


/*section*/
/*
px==>texto ni con margin o padding
1rem==>16px
4rem==>64px
*/
section{
   
    border: 1px solid black;
    padding:5rem 0 ;

}

.services{
    background-color: grey;
}


.tarjeta-1{
    background-color: blueviolet;
    width: 23%;
}
.tour{
    height: 15rem;
}
.tour-dia{
    /* position: absolute;
   right: 0;
   top: 0;
   padding: 0.5rem 0.5rem; */
}

/* ver propiedad a unificar */
.tour-conflex{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
}
.contenedor-tarjetas-featured{
    display: flex;
    width: 80%;
    margin: 0 auto;
    
}
/* ver propiedad a unificar */
/* .tour-footer{
    display: flex;
    justify-content: space-evenly;

} */

/*volver con este tema */
/* .texto-services{
    margin: 1rem 0;
} */

.galeria-img-contenedor{
    position: relative;
    background-color: aquamarine;
    flex: 0 0 48%;
    /*
    flex-grow:0
    flex-shrik:0
    flex-basis:50%
    */
}
.iconover{
    position: absolute;
    top:50% ;
    left:50%;
    font-size: 2rem;
    opacity: 0;
}
.galeria-img-contenedor:hover .iconover{
    opacity: 1;
}
.galeria-centrada{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.about-img{
    width: 60%;
}

.contenedor-about-texto{
    margin-left: 3rem;
}

.contenedor-about-texto h2{
    margin-bottom: 2rem;
}
.contenedor-about-texto p{
    margin-bottom: 2rem;
}